/*---  шрифты ---*/
@font-face{
    font-family: YandexSans;
    src: url(../fonts/YandexSansDisplay-Regular.ttf);
}

/*---  Сброс стилей  ---*/
*{
    margin: 0;
    padding: 0;
    font-family: YandexSans;
}

/*---  Основа  ---*/
.container{
    max-width: 1800px;
    margin: auto;
}

.header{
    margin-top: 15px;
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-position-x: 960px;
    background-position-y: 420px;
    background-size: 950px;
    height: 992px;
}

.header-t{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.h-t-1{
    display: flex;
    align-items: center;
}

.logo{
    font-size: 48px;
    font-weight: 600;
    -webkit-text-stroke: 1px #383838;
    color: white;
    text-decoration: none;
}

.s-in-btn{
    border: none;
    background-color: #383838;
    color: white;
    font-size: 24px;
    padding: 5px 20px 5px 20px;
    border-radius: 60px;
    cursor: pointer;
}

.main-t{
    font-size: 72px;
    color: #121212;
    margin-top: 220px;
    margin-bottom: 220px;
}

.d-a-inp{
    font-size: 24px;
    padding-left: 60px;
    padding-right: 60px;
    width: 700px;
    height: 50px;
    background-image: url(../img/placeholder.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 15px;
    background-size: 30px;
    border: 1px solid #929292;
}

.d-a-inp:focus{
    outline: none;
}

.d-a-inp::placeholder{
    font-size: 24px;
    color: #A7A7A7;
    margin: 0;
    padding: 0;
}

.r-arrow{
    position: absolute;
    user-select: none;
    -webkit-user-drag: none;
    right: 20px;
    cursor: pointer;
}

.input{
    position: relative;
    display: flex;
    align-items: center;
    width: 700px;
}

.d-a-inf{
    font-size: 14px;
    margin-top: 20px;
    color: #383838;
}

.inf-s-in{
    color: #383838;
}

.burger::before{
    content: "";
    display: block;
    width: 40px;
    height: 4px;
    background-color: #383838;
    border-radius: 60px;
    margin-right:45px;
}

.burger::after{
    content: "";
    display: block;
    width: 40px;
    height: 4px;
    background-color: #383838;
    border-radius: 60px;
    margin-top: 8px;
    margin-right:45px;
}