/*---  шрифты ---*/
@font-face{
    font-family: YandexSans;
    src: url(../fonts/YandexSansDisplay-Regular.ttf);
}

/*---  Сброс стилей  ---*/
*{
    margin: 0;
    padding: 0;
    font-family: YandexSans;
    scroll-behavior: smooth;
}

/*---  Основа  ---*/
.burger{
    width: 40px;
    cursor: pointer;
    margin-right: 50px;
}

.burger-modal{
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 1100;
    background-color: white;
    transition: .5s;
}

.burger-cross{
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.burger-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 20px 0;
}

.nav a{
    font-size: 20px;
    color: #383838;
    text-decoration: none;
    transition: .5s;
}

.nav a:hover{
    color:#FF6A4D;
}

.nav a:not(:last-child){
    margin-right: 50px;
}

.cart{
    position: relative;
}

.s-cart{
    cursor: pointer;
    width: 40px;
    height: 40px;
}

#helper{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 900;
}

.modal-s{
    position: fixed;
    z-index: 1000;
    width: 600px;
    height: 400px;
    box-shadow: 0 10px 20px 0 rgba(102, 102, 102, .3);
    background-color: white;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    visibility: hidden;
    transition: .6s;
    transform: translate(115%,70%);
}

.login{
    font-size: 24px;
    padding: 30px 30px 0 30px;
    text-align: center;
    text-transform: uppercase;
    color: #383838;
}

.login-form input::placeholder{
    font-size: 18px;
}

.login-form input{
    font-size: 18px;
    border: 1px solid #929292;
}

.login-form input:focus{
    outline: none;
}

.login-form input:nth-child(2), .login-form input:nth-child(4){
    padding: 10px;
    margin-bottom: 20px;
}

.login-form input:nth-child(5){
    background-color: #FF6A4D;
    color: white;
    border: none;
    font-size: 20px;
    padding: 10px;
}

.login-form label{
    visibility: hidden;
    color: #929292;
    padding-left: 11px;
    opacity: 0;
    transition: .2s;
    transform: translateY(20px);
    user-select: none;
}

.login-form{
    padding: 20px 30px 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.regtxt{
    padding: 0 30px 0 30px;
    font-size: 12px;
}

.reg{
    color: #383838;
    text-decoration: underline;
    cursor: pointer;
}

.modal-reg{
    position: fixed;
    z-index: 1000;
    width: 600px;
    height: 400px;
    box-shadow: 0 10px 20px 0 rgba(102, 102, 102, .3);
    background-color: white;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    transition: .6s;
    visibility: hidden;
    opacity: 0;
    transform: translate(115%,70%);
}

.register{
    font-size: 24px;
    padding: 30px 30px 0 30px;
    text-align: center;
    text-transform: uppercase;
    color: #383838;
}

.form-reg{
    padding: 20px 30px 20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.form-reg input{
    padding: 10px;
    font-size: 18px;
    border: 1px solid #929292;
}

.form-reg input:not(:last-child){
    margin-bottom: 20px;
}

.form-reg input:last-child{
    background-color: #FF6A4D;
    color: white;
    border: none;
    font-size: 20px;
}

.form-reg input:focus{
    outline: none;
}

.logtxt{
    font-size: 12px;
    padding-left: 30px;
}

.logtxt a{
    text-decoration: underline;
    color: #383838;
    cursor: pointer;
}

#logo{
    transition: .5s;
    user-select: none;
    -webkit-user-drag: none;
}

.container{
    max-width: 1800px;
    margin: auto;
}

._anim{
    z-index: 200;
}

._anim .trash-count{
    left: 20px;
}

._anim .s-in-btn:hover{
    color: #FF6A4D;
    background-color: white;
}

._anim #logo{
    transform: scale(0.8);
}

._anim .s-in-btn{
    font-size: 20px;
    background: none;
    color: black
}

._anim .burger{
    width: 30px;
}

._anim .burger::before{
    content: "";
    display: block;
    width: 30px;
    height: 4px;
    background-color: #383838;
    border-radius: 60px;
    margin-right:45px;
}

._anim .burger::after{
    content: "";
    display: block;
    width: 30px;
    height: 4px;
    background-color: #383838;
    border-radius: 60px;
    margin-top: 8px;
    margin-right:45px;
}

.header{
    margin-top: 15px;
    background-image: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-position-x: 960px;
    background-position-y: bottom;
    background-size: 950px;
    height: 80vh;
}

.header-t{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    min-width: 1800px;
    max-width: 1800px;
    margin: auto;
    top:0px;
    transition: .5s;
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

.h-t-1{
    display: flex;
    align-items: center;
}

.s-in-btn{
    border: none;
    background-color: #383838;
    color: white;
    font-size: 24px;
    padding: 5px 20px 5px 20px;
    border-radius: 60px;
    cursor: pointer;
    transition: .5s;
}

.s-in-btn:hover{
    background-color: #FF6A4D;
}

.main-t{
    font-size: 72px;
    color: #121212;
    margin-top: 220px;
    margin-bottom: 220px;
}

.d-a-inp{
    font-size: 24px;
    padding-left: 60px;
    padding-right: 60px;
    width: 700px;
    height: 50px;
    background-image: url(../img/placeholder.svg);
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 15px;
    background-size: 30px;
    border: 1px solid #929292;
}

.d-a-inp:focus{
    outline: none;
}

.d-a-inp::placeholder{
    font-size: 24px;
    color: #A7A7A7;
    margin: 0;
    padding: 0;
}

.r-arrow{
    position: absolute;
    user-select: none;
    -webkit-user-drag: none;
    right: 20px;
    cursor: pointer;
}

.input{
    position: relative;
    display: flex;
    align-items: center;
    width: 700px;
}

.d-a-inf{
    font-size: 14px;
    margin-top: 20px;
    color: #383838;
}

.inf-s-in{
    color: #383838;
}

.burger{
    position: relative;
}

.trash-count{
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -10px;
    left: 30px;
    bottom: 0;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    background-color: #FF6A4D;
    visibility: hidden;
    opacity: 0;
    color: white;
    transition: .5s;

}

.burger::before{
    content: "";
    display: block;
    width: 40px;
    height: 4px;
    background-color: #383838;
    border-radius: 60px;
    margin-right:45px;
    transition: .5s;
}

.burger::after{
    content: "";
    display: block;
    width: 40px;
    height: 4px;
    background-color: #383838;
    border-radius: 60px;
    margin-top: 8px;
    margin-right:45px;
    transition: .5s;
}

.fnm{
    margin-top: 100px;
}

.fnm-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.heading a{
    color: #383838;
    font-size: 48px;
}

.slider-arrow{
    display: flex;
    align-items: center;
}

.a-left{
    margin-right: 10px;
}

.a-left img, .a-right img{
    width: 30px;
    height: 18px;
    transition: .2s;
}

.a-left img:hover{
    transform: translateX(-3px);
}

.a-right img:hover{
    transform: translateX(3px);
}

.v-all{
    color:#383838;
    font-size: 20px;
    margin-right: 10px;
}

.f-slider{
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    overflow: hidden;
}

.slide-img{
    border-radius: 100%;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.slide-heading{
    margin-top: 20px;
    font-weight: 500;
    font-size: 22px;
}

.slide{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slide:not(:last-child){
    margin-right: 200px;
}

.otr{
    margin-top: 300px;
}

.otr-heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.otr-items{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 80px;
}

.item{
    position: relative;
    width: 550px;
    height: 350px;
    background-color: #929292;
    margin-bottom: 70px;
    transition: .3s;
}

.item img{
    width: 550px;
    height: 350px;
    object-fit: cover;
}

.item-inf{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 350px;
    position: absolute;
    background: white;
    opacity: 0;
    transition: .2s;
}

.item-inf p{
    font-size: 48px;
    font-weight: bold;
}


.item:hover .item-inf{
    opacity: 1;
}

.item:hover{
    cursor: pointer;
    box-shadow: 0px 20px 20px 0 rgba(102, 102, 102, .3);
}

.item-inf img{
    object-fit: contain;
    width: 200px;
    height: 180px;
}

.bad{
    margin-top: 200px;
}

.delivery{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.delivery div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.delivery div img{
    width: 400px;
    height: 400px;
}

.blur-delivery{
    position: absolute;
    width: 3000px;
    height: 3000px;
    z-index: -1;
    filter: blur(60px);
    user-select: none;
    -webkit-user-drag: none;
}

.delivery-text{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.delivery-text p{
    justify-content: center;
    font-size: 30px;
}

.htp{
    margin-top: 200px;
}

.project{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project div{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.donate{
    width: 300px;
    height: 300px;
    border-radius: 60px;
    margin-right: 40px;
}

.blur-donate{
    position: absolute;
    width: 500px;
    height: 500px;
    z-index: -1;
    filter: blur(60px);
    user-select: none;
    -webkit-user-drag: none;
}

.project div p{
    font-size: 76px;
}

.footer{
    margin-top: 200px;
    background-color: #383838;
    padding: 20px;
}

.user-photo{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 50px;
    cursor: pointer;
}

.user-photo img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 100%;
    cursor: pointer;
}

.s-in-c{
    display: flex;
    align-items: center;
}

.logout{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.user-address{
    width: 500px;
    font-size: 30px;
    color: #929292;
}

.main-u{
    margin-top: 200px;
}

.user-l-name{
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
}

.user-a{
    display: flex;
    justify-content: center;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    object-fit: cover;
    border: 1px solid #A7A7A7;
}

.user-a img{
    width: 400px;
    height: 400px;
    border-radius: 100%;
    object-fit: cover;
}

.u-info{
    display: flex;
    align-items: center;
    flex-direction: center;
    flex-direction: column;
}

.u-i p{
    font-size: 30px;
    color: #383838;
    margin-bottom: 40px;
}

.u-i p:nth-child(1){
    margin-top: 200px;
    font-size: 40px;
    text-align: center;
    color: black;
}


.admin-header-m{
    margin-top: 20px;
}

.admin-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-main{
    margin-top: 100px;
}

.lastP-heading{
    font-size: 30px;
    text-decoration: underline;
    cursor: pointer;
    user-select: none;
}

.lastP-info{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    transform: translateY(-200px);
    display: none;
}

.lastP-hide{
    transform: translateY(0);
    display: flex;
}

.ps-result{
    padding: 10px;
    border: 1px solid black;
    width: 250px;
    margin-bottom: 20px;
}

.ps-result:not(:last-child){
    margin-right: 20px;
}

.newR-heading{
    margin-top: 40px;
    font-size: 30px;
    text-decoration: underline;
    cursor: pointer;
    user-select: none;
}

.newR-post{
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    display: none;
}

.newR-post input{
    padding-left: 5px;
    font-size: 18px;
    width: 500px;
    height: 40px;
    margin-bottom: 20px;
}

.newRBtn{
    background-color: #383838;
    border:none;
    color: white;
    margin-left: 4px;
}

.newR-post-hide{
    display: flex;
}

.user-header{
    padding-top: 20px;
    padding-bottom: 20px;
}

.u-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.yLast-p{
    margin-top: 100px;
}

.yLast-heading{
    font-size: 40px;
    text-align: center;
}

.lastU-info{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.cart-header{
    padding: 20px 0 20px 0;
}

.ch-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cartH-2{
    display: flex;
    align-items: center;
}

.cart-popular{
    margin-top: 100px;
}

.pf-heading{
    font-size: 40px;
}

.food{
    display: flex;
    align-items: center;
}

.food img{
    width: 100px;
    height: 100px;
}

/*---  Анимации ---*/

@keyframes pulse {
    0% {
        opacity: 0;
        transform:translate(115%,70%) scale3d(1, 1, 1);
    }
    50% {
        transform:translate(115%,70%) scale3d(1.05, 1.05, 1.05);
    }
    100% {
        opacity: 1;
        transform:translate(115%,70%) scale3d(1, 1, 1);
    }
} 

@keyframes bounceOut {
    20% {
        transform:translate(115%,70%) scale3d(.9, .9, .9);
    }
    50%, 55% {
        opacity: 1;
        transform:translate(115%,70%) scale3d(1.1, 1.1, 1.1);
    }
    100% {
        opacity: 0;
        transform:translate(115%,70%) scale3d(.3, .3, .3);
    }
} 